#html {
    font-size: 28px;
}
.textlol {
    font-family: 'Rampart One', cursive;
    text-align: center;
}
#button-grid {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}
.btntext {
    font-family: 'Klee One', cursive;
    padding: 2%;
    margin: 1%;
}
.container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    margin: 0 auto;
    border: 10px solid black;
    width: 30vw;
    height: 50vh;
}
.medium {
    display: grid;
    grid-template-rows: repeat(32, 1fr);
    grid-template-columns: repeat(32, 1fr);
    margin: 0 auto;
    border: 10px solid black;
    width: 30vw;
    height: 50vh;
}
.big {
    display: grid;
    grid-template-rows: repeat(64, 1fr);
    grid-template-columns: repeat(64, 1fr);
    margin: 0 auto;
    border: 10px solid black;
    width: 30vw;
    height: 50vh;
}
.cell {
    background-color: black;
}
@media screen and (max-width: 758px) {
    html {
        font-size: 16px;
    }
    #container {
        width: 80vw;
        height: 50vh;
    }
}